<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>医疗冷链智慧监测系统</title>
		<!-- Bootstrap core CSS -->
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link th:href="@{/css/signin.css}" rel="stylesheet">
	</head>

	<body class="text-center" th:style="'background-image: url(/asserts/img/index-back.jpg)'">
		<form class="form-signin"  th:action="@{/login}" method="post">
			<img class="mb-4" th:src="@{/img/bootst rap-solid.svg}" alt="" width="72" height="72"><br/><br/><br/>
			<p style="color: red;" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
			<h1 class="h3 mb-3 font-weight-normal" >医疗冷链智慧监测系统</h1><br/>

			<label class="sr-only">username</label>
			<input type="text" class="form-control" id="username" name="username" placeholder="用户名" required="" autofocus="">
			<label class="sr-only">password</label>
			<input type="password"  id="password"  name="password" class="form-control" placeholder="密码"  required=""><br/>

			<button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
			<a  class="btn btn-lg btn-primary btn-block magin" href="/regist">注册</a>
			<a class="btn btn-lg btn-primary btn-block magin" href="/offer">我就是想看看</a>
			<div class="checkbox mb-3">
				<label>
					<input type="checkbox" value="remember-me" style="color: white"> 记住我
				</label>
			</div>
			<p class="mt-5 mb-3 text-muted " >© 2019-2020</p>
		</form>

	</body>

</html>